{% extends 'app_ecommerce/base.html' %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">
  <h3 class="text-center mb-4">Editar Perfil</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
        <a href="{% url 'cuentas:perfil_ver' %}" class="btn btn-secondary">Cancelar</a>
      </div>
  </form>

</div>
{% endblock %}
