{# app_paginas/templates/app_paginas/about.html #}
{% extends 'app_ecommerce/base.html' %}
{% block title %}Acerca de mí{% endblock %}
{% block content %}
<div class="card shadow-sm p-4 mx-auto" style="max-width: 800px;">
  <h2>Acerca del Programador</h2>
  <p>Hola, Soy Martin Hernandez, autor de este proyecto. Este proyecto es un sitio eCommerce para la administracion de Usuarios, Productos, Categoria, Tipo de Documentos y Pedidos.</p>
  <p>Se puede realizar la busqueda de productos por su nombre o descripcion.</p>
  <p>Tecnologías usadas: Django, Python, Bootstrap, SQLite.</p>
  <p></p>
  <p>Podes seguir mis proyectos en mi repositorio GitHub "<strong>https://github.com/Tincho83/</strong>"</p>
</div>
{% endblock %}
